<footer class="text-center py-3 mt-3" style="border-top: solid 1px lightgray; background-color:lightblue;">
  <div class="container">
    <div class="row">
    <p><img style="height:40px; width: 40px;" src="https://img.icons8.com/?size=1x&id=435&format=png">
      <img style="height:40px; width: 40px;" src="https://img.icons8.com/?size=512&id=32292&format=png">
    </p>

      <p class="col-12">Teléfono: +1 (123) 456-7890</p>
      <p class="col-12">Correo electrónico: info@huellasfelices.com</p>
      <p class="col-12">Horario de atención: Lunes a Viernes de 9am a 5pm</p>
    </div>
    <div class="col-12 d-flex justify-content-center" style="height: 300px;">
      <div class="row">
        <div class="col-12" style="height: 300px;">
          <div style="overflow:hidden;max-width:100%;width:600px;height:280px;"><div id="g-mapdisplay" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Quito,+Ecuador&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="embed-map-html" href="https://www.bootstrapskins.com/themes" id="get-data-for-embed-map">premium bootstrap themes</a><style>#g-mapdisplay img{max-height:none;max-width:none!important;background:none!important;}</style></div>      </div>
      </div>        
    </div>
    
    <div class="row">
      <p class="col-12" style="border-top: .3px solid lightslategray;">
        © 2023 Todos los derechos reservados. <b>Huellas Felices</b>
      </p>
    </div>
  </div>
</footer>
