

    <div class="container " style="margin-top:6rem">
      <div class="row">
           
       
        
            <img class="col-md-6  col-sm-12" src="https://pomf2.lain.la/f/ccyyv0l7.jpg">
       
            
                <div class="col-md-6 col-sm-12">
                  <div class="content text-md-end ms-md-auto">
                    <h1><b>Ventajas de elegirnos</b></h1>
                    
                    <div class="container">
                        <div class="row ">

                            <div class="col-md-6 mt-4" *ngFor="let card of cardVentajas">
                            <div class="card border-primary " style="max-width:auto;">
                                <div class="card-body text-primary">
                                  <h5 class="card-title">{{card.title}}</h5>
                                  <p class="card-text">{{card.description}}</p>
                                </div>
                              </div>
                            </div>

                       

                                

                            

                            

                         

                        </div>


                    </div>
                    
                  </div>
                </div>


      </div>
    </div>
