.nav-custom{background-color: transparent;}

.scrolled {
   
    background: pink; /* Cambia el valor #f00 al color que desees para el fondo */
    transition: background-color 0.8s ease-out;
  }


/* Media query for small devices (up to 767px) */
@media (max-width: 767px) {
    .nav-custom {
      background-color: pink; /* Change to the desired pink color */
      opacity: 1; /* Ensure opacity is set to 1 for non-transparent navbar */
    }
    .navbar-toggler-icon {
        background-image: url("https://www.svgrepo.com/show/500086/dog.svg");
      }
  }
  
