<!-- Importa los estilos de Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Importa jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- En el archivo de tu componente de Angular -->
<div>
  <nav  [ngClass]="{'scrolled': scrolled}"class="navbar navbar-expand-md fixed-top nav-custom" >
    <div class="container-fluid">
      <a class="navbar-brand"><b >Huellas Felices</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span> <!-- Agrega esta línea -->
    </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <form class="navbar-nav ms-auto me-2 d-flex justify-content-center justify-content-md-end col-12 col-md-5"
          role="search">
          <div class="row">
            <div class="col-5 col-md-8 p-1">
              <input class="form-control" type="search" placeholder="Paseo en Quito" aria-label="Search" style="height: 30px;">
            </div>
            <div class="col-3 col-md-4 p-1">
              <button style="border: none; background:transparent;" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </button>
            </div>
          </div>
        </form>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nosotros</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Servicios
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Paseos</a></li>
            </ul>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link" href="#">Pasear Perros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Mi cuenta
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Iniciar Sesion</a></li>
              <li><a class="dropdown-item" href="#">Registrate</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
