<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
    <div class="mb-4"> <a href="dashboard"> Regresar</a></div>
	<h4 class="card-title mt-3 text-center">Crear Cuenta Paseador</h4>
	<form>
	<div class="form-group input-group">
		<div class="input-group-prepend">
		 </div>
        <input name="" class="form-control" placeholder="Nombres Completos" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		 </div>>
        <input name="" class="form-control" placeholder="Correo Electronico" type="email">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		</div>
		<select class="custom-select" style="max-width: 120px;">
		    <option selected="">+971</option>
		    <option value="1">+972</option>
		    <option value="2">+593</option>
		    <option value="3">+701</option>
		</select>
    	<input name="" class="form-control" placeholder="Numero de telefono" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    
            <input class="form-control" placeholder="Cedula" type="cedula">
		</div>
	</div> <!-- form-group end.// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		</div>
        <input class="form-control" placeholder="Crear Contraseña" type="password">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		</div>
        <input class="form-control" placeholder="Repite la Contraseña " type="password">
    </div> <!-- form-group// -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Crear Cuenta  </button>
    </div> <!-- form-group// -->
    <p class="text-center">Ya tienes una cuenta? <a href="loginpaseador">Inicia Sesion</a> </p>
    <p class="text-center">Quieres solicitar paseos? <a href="register">Pulsa Aqui</a> </p>
</form>
</article>
</div> <!-- card.// -->

</div>
<!--container end.//-->